@import "src/base-style.scss";

$dropdpwn-selector-height: 50px;
$dropdpwn-selector-border-width: 1px;
$dropdpwn-selector-border-width-focus: 2px;
$dropdpwn-selector-border-color: $grey-blue;
$dropdpwn-selector-border-color-focus: $primary-blue;

$dropdpwn-selector-padding-side: 18px;
$dropdpwn-selector-padding-top: 3px;
$dropdpwn-selector-padding-bottom: 3px;

$dropdpwn-selector-label-line-height: 18px;

$dropdpwn-selector-popup-top-spacing: 5px;

$input-font-size-error-msg: 12px;
$input-error-msg-margin-top: 5px;

.container {
  width: 100%;
  height: $dropdpwn-selector-height;
  position: relative;
  border-width: $dropdpwn-selector-border-width;
  border-style: solid;
  border-color: $dropdpwn-selector-border-color;
  border-radius: $border-radius;
  padding-left: $dropdpwn-selector-padding-side;
  padding-right: $dropdpwn-selector-padding-side;
  padding-top: $dropdpwn-selector-padding-top;
  padding-bottom: $dropdpwn-selector-padding-bottom;
  box-sizing: border-box;
}

.container:focus {
  border-color: $dropdpwn-selector-border-color-focus;
  border-width: $dropdpwn-selector-border-width-focus;
  padding-left: $dropdpwn-selector-padding-side -
    ($dropdpwn-selector-border-width-focus - $dropdpwn-selector-border-width);
  padding-right: $dropdpwn-selector-padding-side -
    ($dropdpwn-selector-border-width-focus - $dropdpwn-selector-border-width);
  padding-top: $dropdpwn-selector-padding-top -
    ($dropdpwn-selector-border-width-focus - $dropdpwn-selector-border-width);
  padding-bottom: $dropdpwn-selector-padding-bottom -
    ($dropdpwn-selector-border-width-focus - $dropdpwn-selector-border-width);
}

.container.error {
  border-color: $error-red;
}

.container.disabled {
  border-color: $light-grey;
  border-width: $dropdpwn-selector-border-width;
  background: $smoke-white;
}

.placeholder {
  color: $darker-grey-blue;
  font-size: 16px;
  line-height: $dropdpwn-selector-height - (2 * $dropdpwn-selector-border-width) -
    $dropdpwn-selector-padding-top - $dropdpwn-selector-padding-bottom;
  opacity: 0.5;
  position: absolute;
  top: $dropdpwn-selector-padding-top;
  left: $dropdpwn-selector-padding-side;
  user-select: none;
}

.placeholder.label {
  font-size: 12px;
  line-height: $dropdpwn-selector-label-line-height;
}

.placeholder.label.error {
  color: $error-red;
  opacity: 1;
}

.placeholder.disabled {
  color: $medium-grey;
  opacity: 0.5;
}

.container:focus .placeholder {
  top: $dropdpwn-selector-padding-top -
    ($dropdpwn-selector-border-width-focus - $dropdpwn-selector-border-width);
  left: $dropdpwn-selector-padding-side -
    ($dropdpwn-selector-border-width-focus - $dropdpwn-selector-border-width);
}

.container.disabled:focus .placeholder {
  top: $dropdpwn-selector-padding-top;
  left: $dropdpwn-selector-padding-side;
}

.value {
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  padding-top: 18px;
  user-select: none;
}

.value.disabled {
  color: $medium-grey;
}

.icon {
  width: 24px;
  height: $dropdpwn-selector-height - (2 * $dropdpwn-selector-border-width);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: $dropdpwn-selector-padding-side;
  user-select: none;
  cursor: pointer;
}

.container:focus .icon {
  height: $dropdpwn-selector-height -
    (2 * $dropdpwn-selector-border-width-focus);
  right: $dropdpwn-selector-padding-side -
    ($dropdpwn-selector-border-width-focus - $dropdpwn-selector-border-width);
}

.container.disabled:focus .icon {
  height: $dropdpwn-selector-height - (2 * $dropdpwn-selector-border-width);
  right: $dropdpwn-selector-padding-side;
}

.calendar,
.dropdown {
  width: 100%;
  overflow-y: hidden;
  position: absolute;
  top: $dropdpwn-selector-height + $dropdpwn-selector-popup-top-spacing;
  left: -($dropdpwn-selector-border-width);
  background-color: $white;
  box-shadow: $panel-drop-shadow;
  border-width: $dropdpwn-selector-border-width;
  border-style: solid;
  border-color: $grey-blue;
  border-radius: $border-radius;
  z-index: 3;
}

.dropdown {
  max-height: 260px;
  overflow-y: auto;
}

.container:focus .calendar,
.container:focus .dropdown {
  width: calc(100% + #{$dropdpwn-selector-border-width-focus});
  top: $dropdpwn-selector-height + $dropdpwn-selector-popup-top-spacing -
    ($dropdpwn-selector-border-width-focus - $dropdpwn-selector-border-width);
  left: -($dropdpwn-selector-border-width-focus);
}

.option {
  height: 40px;
  color: $black;
  font-size: 16px;
  line-height: 40px;
  padding-left: $dropdpwn-selector-padding-side;
  user-select: none;
}

.option:hover {
  cursor: pointer;
  background-color: $light-blue;
}

.validationErrorMsg {
  color: $error-red;
  font-size: $input-font-size-error-msg;
  line-height: 18px;
  margin-top: $input-error-msg-margin-top;
}

:export {
  fontFamily: $font-family;
}
