@import 'src/app/base-style.scss';

$input-height: 50px;

$input-padding-side: 18px;
$input-padding-top: 3px;
$input-padding-bottom: 3px;
$input-padding-top-focus: 2px;
$input-padding-bottom-focus: 2px;
$input-padding-right-password: 60px;

$input-border-width: 1px;
$input-border-width-focus: 2px;
$input-border-radius: 4px;
$input-border-color: $grey-blue;
$input-border-color-focus: $primary-blue;
$input-border-color-error: $error-red;

$input-label-line-height: 18px;

$input-font-size: 16px;
$input-font-size-error-msg: 12px;

$input-error-msg-padding-side: 2px;
$input-error-msg-margin-top: 5px;

$prefix-spacing-right: 5px;
$postfix-spacing-left: 5px;

.container {
  width: 100%;
  position: relative;
}

.label {
  color: $darker-grey-blue;
  font-size: 12px;
  line-height: $input-label-line-height;
  opacity: 0.5;
  position: absolute;
  top: $input-padding-top;
  left: $input-padding-side + $input-border-width-focus;
  z-index: 2;
}

.label.disabled {
  color: $medium-grey;
  opacity: 0.5;
}

.label.error {
  color: $error-red;
  opacity: 1;
}

.wrapper {
  display: flex;
  align-items: baseline;
  background-color: $white;
  border-width: $input-border-width;
  border-style: solid;
  border-color: $grey-blue;
  border-radius: $input-border-radius;
  padding-left: $input-padding-side;
  overflow: hidden;
  z-index: 1;
}

.wrapper.focus {
  border-width: $input-border-width-focus;
  border-color: $primary-blue;
  padding-left: $input-padding-side -
    ($input-border-width-focus - $input-border-width);
}

.wrapper.disabled {
  border-color: $light-grey;
  border-width: $input-border-width;
  background-color: $smoke-white !important;
}

.wrapper.error {
  border-color: $input-border-color-error;
}

.prefix {
  width: 50px;
  color: $darker-grey-blue;
  font-size: $input-font-size;
  padding-top: $input-padding-top-focus + $input-label-line-height;
  padding-bottom: $input-padding-bottom-focus;
  padding-right: $prefix-spacing-right;
}

.postfix {
  width: 50px;
  color: $darker-grey-blue;
  font-size: $input-font-size;
  // padding-top: $input-padding-top-focus + $input-label-line-height;
  // padding-bottom: $input-padding-bottom-focus;
  padding-left: $postfix-spacing-left;
}

.postfix.disabled {
  color: $medium-grey;
}

// change autofilled input background color
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:active,
.input:-webkit-autofill:focus {
  box-shadow: 0 0 0 100px #{$white} inset !important;
}

.input {
  // default browser styles reset
  appearance: none;
  outline: none;
  border: none;
  padding: 0;
  // end style reset ------------
  font-family: $font-family;
  width: calc(100% - #{(2 * $input-border-width) + (2 * $input-padding-side)});
  height: $input-height - (2 * $input-border-width) - $input-padding-top -
    $input-padding-bottom;
  color: $black !important;
  font-size: $input-font-size;
  text-overflow: ellipsis;
  background-color: $white !important;
  background-image: none !important;
  padding-right: $input-padding-side;
  padding-top: $input-padding-top;
  padding-bottom: $input-padding-bottom;
}

.focus > .input.withPostfix,
.input.withPostfix {
  width: 30px;
  padding-right: 5px;
}

.input.disabled {
  color: $medium-grey !important;
  border-color: $light-grey;
  background-color: $smoke-white !important;
}

.input::placeholder {
  color: $darker-grey-blue;
  font-size: 16px;
  font-family: $font-family;
  opacity: 0.5;
}

.input.disabled::placeholder {
  color: $medium-grey;
  opacity: 0.5;
}

.input:focus {
  width: calc(
    100% - #{(2 * $input-border-width-focus) + (
        2 *
          (
            $input-padding-side -
              ($input-border-width-focus - $input-border-width)
          )
      )}
  );
  height: $input-height - (2 * $input-border-width-focus) -
    $input-padding-top-focus - $input-padding-bottom-focus -
    $input-label-line-height;
  border-width: $input-border-width-focus;
  border-color: $primary-blue;
  padding-top: $input-padding-top-focus + $input-label-line-height;
  padding-bottom: $input-padding-bottom-focus;
  padding-right: $input-padding-side -
    ($input-border-width-focus - $input-border-width);
}

.input:not(:placeholder-shown) {
  height: $input-height - (2 * $input-border-width) - $input-padding-top -
    $input-padding-bottom - $input-label-line-height;
  padding-top: $input-padding-top + $input-label-line-height;
}

.input:not(:placeholder-shown):focus {
  height: $input-height - (2 * $input-border-width-focus) -
    $input-padding-top-focus - $input-padding-bottom-focus -
    $input-label-line-height;
  padding-top: $input-padding-top-focus + $input-label-line-height;
  padding-bottom: $input-padding-bottom-focus;
}

.input.error {
  border-color: $input-border-color-error;
}

.input.withIcon {
  width: calc(
    100% - #{$input-padding-side + $input-padding-right-password +
      (2 * $input-border-width)}
  );
  padding-right: $input-padding-right-password;
}

.input.withIcon:focus {
  width: calc(
    100% - #{(
        $input-padding-side - ($input-border-width-focus - $input-border-width)
      ) + (
        $input-padding-right-password -
          ($input-border-width-focus - $input-border-width)
      ) + (2 * $input-border-width-focus)}
  );
  padding-right: $input-padding-right-password -
    ($input-border-width-focus - $input-border-width);
}

.input::placeholder {
  color: $darker-grey-blue;
  opacity: 0.5;
}

.icon,
.iconDisabled {
  height: $input-height;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: $input-padding-side;
  cursor: pointer;
}

.iconDisabled {
  cursor: initial;
}

.validationErrorMsg {
  color: $error-red;
  font-size: $input-font-size-error-msg;
  line-height: 18px;
  margin-top: $input-error-msg-margin-top;
}
