// font
$font-family: "DM Sans", sans-serif;

// primary colors
$primary-color: #da9e29;
$primary-blue: #172352;
$light-blue: #e0f6ff;
$grey-blue: #bbc7df;
$darker-grey-blue: #47558d;
$error-red: #dc3224;
$disabled-red: #fbebe9;
$white: #ffffff;
$smoke-white: #f8f8f8;

// black & grey
$black: #212124;
$light-grey: #d9dbe0;
$medium-grey: #c5c9d0;
$darker-grey: #4c4c50;
$disabled-grey: #b2b8cf;

// button colors
$color-background-hover: #f0f8ff;

// drop-shadow
$panel-drop-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);

// shared styles
$border-radius: 4px;

// break point
$wide-viewport: 800px;
